<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div id="naviconbg">
    <a href="/cocktails">
      <a class="navbar-brand" href="/cocktails">
        <i class="fas fa-glass-martini-alt" id="navicon"></i>
      </a>
    </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="btn btn-primary" href="/cocktails/new">Add New Cocktail</a>
      </li>
    </ul>
  </div>
</div>
<div class="banner">
  <h1 class="bannerh1">Edo Cocktails</h1>
</div>
<div class="container col-lg-4 col-lg-offset-4">

      <ul>

        <% @cocktails.each do |cocktail| %>
        <li class="card"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>

      </ul>


</div>

