<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div id="naviconbg">
    <a href="/cocktails">
      <a class="navbar-brand" href="/cocktails">
        <i class="fas fa-glass-martini-alt" id="navicon"></i>
      </a>
    </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="btn btn-primary" href="/cocktails/new">Add New Cocktail</a>
      </li>
    </ul>
  </div>
</div>
<div class="banner">
  <h1 class="bannerh1">Edo Cocktails</h1>
</div>

<div class="container">

      <ul class="card-grid">

        <% @cocktails.each do |cocktail| %>
        <% photograph = cocktail.photo.attached? ? cocktail.photo.key : image_url('cocktail1.jpg') %>
        <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path photograph, height: 300, width: 400, crop: :fill %>')"> <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>

      </ul>


</div>

