<div>
  <%= image_tag("edo.png", class: "header-image") %>
</div>

<div class="container">

      <ul class="card-grid">

        <% @cocktails.each do |cocktail| %>
        <% photograph = cocktail.photo.attached? ? cocktail.photo.key : image_url('cocktail1.jpg') %>
        <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path photograph, height: 300, width: 400, crop: :fill %>')"> <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>

      </ul>


</div>

