<div class="container justify-content-center col-4 outline">
  <h1 class="cocktailname">New cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <div class="whitetext"><%= f.input :name %>
    <%= f.input :photo, as: :file, required: true %>
  </div>
    <%= f.submit "Add a cocktail", class: "btn btn-ghost" %>
  <% end %>
</div>

