.banner {
  height: 250px;
  color: white;
  background-size: cover;
  margin: auto;
  padding: 0;
  background-image: url(https://www.okuratokyobay.net/CMS/default/cache/file/C9A5B490-D407-7B22-B1298B4DD45E7418.jpg);
  text-align: center;

}

.bannerh1 {
  line-height: 75px;
  font-family: 'Inknut Antiqua', serif;
}
