<div class="container justify-content-center col-4 outline">
  <h1 class="cocktailname">Add a Dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="whitetext"><%= f.input :description, label: "Amount" %>
    <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Select an ingredient" %>
    </div>
    <%= f.submit "Add an ingredient", class: "btn btn-ghost" %>
  <% end %>
</div>
